@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@font-face {
    font-family: 'Inter';
    src: url('path/to/inter.woff2') format('woff2'),
        url('path/to/inter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;    
}

/* Body */
#body {
    min-height: 480px;
    background: #F0F2F5;
}